<navbar></navbar>
<todo></todo>
<div class="container">
    <div class="row">
        <div><a style="color:orangered ;" routerLink="/anasayfa"  routerLinkActive="active">ANASAYFA</a><i style="color: orangered"> > BİZ KİMİZ?</i></div>
        <div class="col">
            <img style="width:400px ;" src="https://img.freepik.com/premium-photo/about-us-multicolor-inscription-white-brick-wall-with-doodle-icons-around-about-us-concept-modern-style-illustration-with-doodle-design-icons-about-us-white-brickwall-background_226262-1853.jpg?w=2000" alt="about-us" class="src">
        </div>
        <div class="col">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien nibh, porta sed tortor dictum, condimentum commodo quam.
             Suspendisse id dapibus sem. Fusce sed venenatis odio. Nullam eu cursus nulla. Vestibulum dapibus maximus erat, vitae pellentesque 
             turpis euismod quis. Aenean rutrum in tortor consequat consectetur. Donec eu felis non justo maximus tempus eu ac ante. 
             Donec blandit sapien in purus blandit scelerisque. Aliquam eu dapibus elit. 
            </p>
            <p>
              Sed molestie ultrices tempor. Donec inultricies quam. In vehicula ligula at rhoncus ultrices. Phasellus euismod eros mi, vel facilisis magna eleifend vel. 
              Curabitur vitae gravida eros, eu imperdiet lacus. Sed suscipit eros non libero hendrerit, eu feugiat mauris tempor. 
              Maecenas mi nisl, porta et cursus efficitur, varius sit amet nunc.
            </p>
            <p>
             Maecenas consectetur purus eu erat blandit eleifend. Nulla nec ultricies lectus, vitae sodales nulla. Aliquam erat volutpat. 
             Etiam varius sem erat, ac egestas diam pharetra sit amet. Proin in sem semper, placerat magna eleifend, blandit enim. 
             Donec dictum efficitur malesuada. Integer non lorem nulla. Nulla facilisi. Curabitur tempus nisl diam, id molestie augue
              vestibulum sed. In nec vehicula erat.
            </p>
        </div>
        
    </div>
</div>
